.center-box {
    /* put blocks next to each other */
    display: flex;
    /* responsible for vertical centering */
    align-items: center;
    /* responsible for horizontal centering */
    justify-content: center;
    /* responsible for stacking up divs  */
    flex-direction: column;
    /* make this element content area == of its parent */
    width: 50%;
    /* align text to the center */
    text-align: center;
    /* puts div at 50% height of the page */
    margin: 10% 25%;
    /* makes min height of the ENTIRE BOX div at least 200px in height */
    min-height: 300px;
    background-color: rgba(33, 33, 33, .3);
    align-items: center;
    /* add background picture */
    background-image: url("background.png");
    background-repeat:no-repeat;
    /* scales background with screen size */
    background-size:cover;
    font-family: 'MonteCarlo', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Style Script', cursive;
    font-size: 2.5rem;
  }

  #quote-btn {
  margin-top: 30px;
  color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #F87E1F;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
  }

#quote-btn:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
}